@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap");

.bg-dark {
  background-color: #05344f !important;
}

/* Customize scrollbar track and thumb */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #085784;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #05344f;
}
